{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Lista wydatków</h1>
        <a href="{% url 'add_expense' %}" class="btn">Dodaj nowy wydatek</a>
        <ul>
            {% for expenses in expenses %}
                <li>
                    {{ expenses.amount }} - {{ expenses.category }} - {{ expenses.date }}
                    <a href="{% url 'edit_expense' expense.pk %}" class="btn">Edytuj</a>
                    <a href="{% url 'delate_expense' expense.pk %}" class="btn">Usuń</a>
                </li>
        {% empty %}
            <li>Brak wydatków do wyświetlenia.</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

