{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseEye - Kontrola wydatków</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/budget.css' %}">
    <link rel="stylesheet" href="{% static 'css/filters.css' %}">
    <link rel="stylesheet" href="{% static 'css/goals.css' %}">

    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

    {% block content %}{% endblock %}

    <script>
            lucide.createIcons();
    </script>

</body>
</html>