{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="welcome-section">
        <h1>Witaj w aplikacji do kontroli wydatków ExpenseEye</h1>
        <p>Zarządzaj swoimi wydatkami w prosty i efektywny sposób</p>
    </div>

    <div class="wrapper">
        <div class="login-wrapper">
            <div class="login-form">
                <div class="login-header">
                    <h2>Logowanie</h2>
                </div>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for field in login_form %}
                <div class="input-wrapper">
                    {{ field }}
                </div>
                {% endfor %}

                <div class="login-options">
                    <div class="remember">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Zapamiętaj mnie</label>
                    </div>
                    <div class="forgot">
                        <a href="#">Zapomniałeś hasła?</a>
                    </div>
                </div>

                <button type="submit" class="btn">Zaloguj</button>
            </form>

            <div class="register-link">
                <p>Nie masz jeszcze konta? <a href="#" id="show-register">Zarejestruj się tutaj</a> </p>
            </div>
        </div>

        <div class="register-form" id="register-form" style="display: none;">
            <div class="login-header">
                <h2>Rejestracja</h2>
            </div>

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit" class="btn">Zarejestruj się</button>
            </form>
            <div class="login-link">
                <p>Masz już konto? <a href="#" id="show-login">Zaloguj się tutaj</a></p>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('show-register').addEventListener('click',function(e) {
    e.preventDefault();
    document.querySelector('.login-form').style.display = 'none';
    document.getElementById('register-form').style.display = 'block';
});

document.getElementById('show-login').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('.login-form').style.display = 'block';
    document.getElementById('register-form').style.display = 'none';

});
</script>
{% endblock %}