{% extends 'auth_base.html' %}
{% block content %}
    <div class="main-content">
        <div class="login-wrapper">
            <div class="login-header">Ustaw nowe hasło</div>

            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="password-wrapper">
                    <input type="password" name="new_password" class="input-field" placeholder="Nowe hasło" required>
                </div>
                <button type="submit" class="login-btn">Zmień hasło</button>
            </form>
        </div>
    </div>
{% endblock %}