{% extends 'auth_base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
   <div class="welcome-text">
       <div class="welcome-brand">ExpenseEye</div>
   </div>

   <div class="login-wrapper">
       <div class="login-header">Reset hasła</div>

       <form method="post" class="login-form">
           {% csrf_token %}
           <input type="email" name="email" class="input-field" placeholder="Adres email" required>

           {% if messages %}
           <div class="error-messages">
               {% for message in messages %}
                   <div class="{% if message.tags == 'success' %}success-message{% else %}error-message{% endif %}">
                       {{ message }}
                   </div>
               {% endfor %}
           </div>
           {% endif %}

           <button type="submit" class="login-btn">Resetuj hasło</button>
       </form>

       <div class="login-link">
           <a href="{% url 'login' %}">Powrót do logowania</a>
       </div>
   </div>
</div>

{% endblock %}