{% extends 'auth_base.html' %}
{% block content %}
    <div class="main-content">
        <div class="welcome-text">
            <div class="welcome-brand">ExpenseEye</div>
        </div>

        <div class="login-wrapper">
            <div class="login-header">Ustaw nowe hasło</div>
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="password-wrapper">
                    <input type="password" name="new_password" class="input-field" placeholder="Nowe hasło" required>
                    <span class="password-toggle" onclick="togglePassword()">Pokaż</span>
                </div>
                <button type="submit" class="login-btn">Zmień hasło</button>
            </form>
        </div>
    </div>
    <script>
        function togglePassword() {
            const passwordInputs = document.querySelectorAll('input[type="password"], input[type="text"]');
            const toggleBtns = document.querySelectorAll('.password-toggle');

            passwordInputs.forEach((input, index) => {
                if (input.type === "password") {
                    input.type = "text";
                    toggleBtns[index].textContent = "Ukryj";
                } else {
                    input.type = "password";
                    toggleBtns[index].textContent = "Pokaż";
                }
            });
        }
    </script>
{% endblock %}

